*
!*.cpp
!*.c
!*.java
!*.md
!*.sh
!*/


!*/*.cpp
!*/*.c
!*/*.java
!*/*.md
!*/*.sh

!*/*/*.cpp
!*/*/*.c
!*/*/*.java
!*/*/*.md
!*/*/*.sh


!*/*/*/*.cpp
!*/*/*/*.c
!*/*/*/*.java
!*/*/*/*.md
!*/*/*/*.sh


!*/*/*/*/*.cpp
!*/*/*/*/*.c
!*/*/*/*/*.java
!*/*/*/*/*.md
!*/*/*/*/*.sh
